.row{
margin-top: 30px;
margin-bottom: 15px;
}

div[class^="col-"]{

    border: 1px solid #AAA;
    padding-top: 10px;
    padding-bottom:10px;
    background: white;

}
body{
    background-color: #b0bec5;
}

/*Para tablets prefijo sm el color de fondo será naranja*/
@media (min-width: 768px){
    body{
        background-color:#FFb74D;
    }
}

@media(min-width:992px){
    body{
        background-color:#81c784 ;
    }
}
@media(min-width:1200px){
    body{
        background-color: #5c6bc0;
    }
}