*{
border: 1px solid wheat;
    
}
header{
background-color: blue;
height: 20%;
text-align: center;
color:white;
padding-bottom: 5px;
}
body{
    background: wheat;
}
article{
    background:white ;
}
nav{
    background:gray;
    height: 60%;
    width: 40%;
    float: left;
    border: 5px solid wheat;
}
article{
    height: 20%;
    width: 100%;
    background: black;
    color:white;
    
}
footer{
    background:yellow;
    text-align: center;
}